* {
    font-family: 'Merriweather', serif;
  }
  


body{
    
    background-color:rgb(44, 90, 70);
   }

#enviar{
    color:green;
    padding-right: 10px;
    
}

#enviar:hover{
    color:white;
    background-color:green;
}


#voltar{
    color: blue;
    padding-right: 10px;
    
}


#voltar:hover{
    color:white;
    background-color: rgb(46, 103, 249);
    
}

.perguntaBotao {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 50px;
  }

  fieldset{
     border: 3px solid  rgba(223, 129, 61 );
    padding: 15px;
  }

  
legend{
    border: 3px solid  rgba(223, 129, 61 );
    padding: 10px;
    background-color:  rgba(44, 90, 70 );
    border-radius: 10px;
    color:white;
    
}

p{
    color: aliceblue;
}



.inputUser{
    background: none;
    border: none;
    border-bottom: 3px solid  rgb(236, 236, 236);
    outline: none;
    font-size: 20px;
    color:rgb(255, 255, 255);
    

}

label{
    color: wheat;
   
 
}


h4{
color: white;
}