body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(44, 88, 94 ),rgb(44, 90, 70));
   }
   

   .lisPerguntas h4{

    color: rgb(193, 70, 70);
    background-color: whi;


   }

   
.box{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(223, 129, 61);
    padding: 15px;
    border-radius: 10px;
}