/* Fonte geral */
* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Fundo com degradê */
  body {
    background-color: rgb(44, 87, 92);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  /* Caixa da tabela centralizada e responsiva */
  .table {
    background-color: rgb(223, 129, 61);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    overflow-x: auto;
    box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.464);
  }
  
  /* Cabeçalho da tabela */
  .coluna th {
    color: white;
    font-size: 14px;
    padding: 10px;
    background-color: rgb(44, 90, 70);
    text-align: left;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
  }
  
  /* Corpo da tabela */
  tbody {
    color: white;
    font-size: 16px;
  }
  
  td {
    padding: 12px;
  }
  
  /* Links */
  a {
    color: rgb(17, 37, 28);
    text-decoration: none;
  }
  
  
  a:focus {
    color: white;
    text-decoration: underline;
  }
  
  
   
  
    body {
      padding: 10px;
    }
  
  
  /* Botão alinhado à direita */
  .botao {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .botao button {
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.516);
    color: black;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .botao button:hover {
    background-color: white;
    transform: translateY(-2px);
  }



 
  
  